/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: "Josefin Sans", sans-serif;
}

:root {
	/* primary colors */
	--bright-blue: hsl(220, 98%, 61%);
	--check-background: linear-gradient(
		to left,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);

	/* neutral colors */
	/* light theme */
	--very-light-gray: hsl(0, 0%, 98%);
	--very-light-grayish-blue: hsl(236, 33%, 92%);
	--light-grayish-blue: hsl(233, 11%, 84%);
	--light-grayish-blue-hover: hsl(236, 33%, 92%);
	--dark-grayish-blue: hsl(236, 9%, 61%);
	--very-dark-blue: hsl(235, 21%, 11%);
	--very-dark-grayish-blue: hsl(235, 19%, 35%);
	--very-dark-grayish-blue-lighter: hsl(237, 14%, 26%);
	--very-dark-desaturated-blue: hsl(235, 24%, 19%);
}

.dark {
	/* dark theme */
	--light-grayish-blue: hsl(234, 39%, 85%);
	--dark-grayish-blue: hsl(234, 11%, 52%);
	--very-dark-grayish-blue: hsl(233, 14%, 35%);
}

body {
  position: relative;
	min-height: 100vh;
  transition: all 500ms ease;
}

body.dark {
  background-color: var(--very-dark-blue);
}

li {
	list-style: none;
}

input,
button {
	font: inherit;
}

header {
	background: var(--check-background);
	background-image: url(../images/bg-desktop-light.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	height: 35vh;
	max-height: 500px;
}

/* main */
main {
	position: absolute;
	width: 540px;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.title {
	display: flex;
	justify-content: space-between;
	color: white;
	margin-bottom: 50px;
}

h1 {
	font-size: 2.25rem;
	text-transform: uppercase;
	letter-spacing: 10px;
}

p {
	color: var(--very-dark-grayish-blue);
}

.dark p {
  color: var(--light-grayish-blue);
}

.theme-icon {
	width: 30px;
	height: 30px;
  cursor: pointer;
}

.box {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
  box-shadow:
    0px 1.9px 3.4px rgba(0, 0, 0, 0),
    0px 5.4px 9.4px rgba(0, 0, 0, -0.007),
    0px 13px 22.6px rgba(0, 0, 0, 0.007),
    0px 43px 75px rgba(0, 0, 0, 0.08)
  ;
}

.box > :first-child {
  margin-right: 25px;
}

.dark .box {
  background-color: var(--very-dark-desaturated-blue);
}

/* circle */
.circle {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid var(--very-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .circle {
  border-color: var(--very-dark-grayish-blue);
}

.todo.checked .circle {
  background: linear-gradient(
		to bottom right,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
  );
  border-width: 0;
}

.circle > img {
  display: none;
}

.checked .circle > img {
  display: inline;
}


#input {
	border: none;
	background-color: transparent;
	outline: none;
	color: var(--very-dark-grayish-blue);
  caret-color: var(--bright-blue);
  width: 90%;
}

.dark #input {
  color: var(--light-grayish-blue);
}

#input::placeholder {
	color: var(--dark-grayish-blue);
}

.cross {
  display: none;
  margin-left: auto;
}

.todos__container {
	background-color: white;
	border-radius: 5px;
	margin-top: 25px;
  box-shadow:
    0px 1.9px 3.4px rgba(0, 0, 0, 0),
    0px 5.4px 9.4px rgba(0, 0, 0, -0.007),
    0px 13px 22.6px rgba(0, 0, 0, 0.007),
    0px 43px 75px rgba(0, 0, 0, 0.08)
  ;
}

.todo {
	border-bottom: 1px solid var(--very-light-grayish-blue);
	border-radius: 0;
	padding: 20px;
}

.todo.checked p {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

.dark .todo.checked p {
  color: var(--dark-grayish-blue);
  opacity: 0.5;
}

.dark .todo {
  border-bottom-color: var(--very-dark-grayish-blue);
}

.todo > *:not(p):hover {
  cursor: pointer;
}

.todo p {
  cursor: grab;
}

.todo:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.todos__footer {
  position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.todos__filter {
	display: flex;
	gap: 20px;
}

input[type="radio"]:checked + label {
  color: var(--bright-blue);
}

.todos__filter label {
	font-size: 0.8rem;
	color: var(--dark-grayish-blue);
	font-weight: 700;
}

.todos__filter label:hover {
	cursor: pointer;
}

.todos__filter input {
	display: none;
}

small {
	color: var(--dark-grayish-blue);
}

@media screen and (min-width: 600px) {
  .todo:not(.checked) .circle:hover {
    border-style: double;
    border-color: transparent;
    background-image: linear-gradient(white, white),
                      linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .dark .todo:not(.checked) .circle:hover {
    background-image: linear-gradient(var(--very-dark-desaturated-blue), var(--very-dark-desaturated-blue)),
                      linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  .todo:hover .cross {
    display: inline;
  }

  .todos__filter label:not(.current):hover,
  #clear-button small:hover {
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
  }

  .dark .todos__filter label:not(.current):hover,
  .dark #clear-button small:hover {
    color: var(--light-grayish-blue);
  }
}

.btn {
  border: none;
  background-color: transparent;
}

.footnote {
	display: block;
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
	text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  header {
    background-image: url(../images/bg-mobile-light.jpg);
    max-height: 200px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .theme-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  main {
    max-width: 325px;
    top: 45px;
  }

  .title {
    margin-bottom: 30px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .box {
    padding: 15px 20px;
  }

  .box > :first-child {
    margin-right: 10px;
  }

  .cross {
    display: inline;
  }

  .todos__conainer {
    margin-top: 15px;
  }

  .cross {
    height: 15px;
    width: auto;
  }

  .todos__filter {
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 25px;
    background-color: inherit;
    padding: 20px;
    width: 100%;
    box-shadow:
      0px 1.9px 3.4px rgba(0, 0, 0, 0),
      0px 5.4px 9.4px rgba(0, 0, 0, -0.007),
      0px 13px 22.6px rgba(0, 0, 0, 0.007),
      0px 43px 75px rgba(0, 0, 0, 0.08)
    ;
  }

  .todos__filter label {
    font-size: 1rem;
  }

  .footnote {
    bottom: -120px;
  }
}

